
{%- from "kerko/_facets.html.jinja2" import facet -%}
{%- set has_keywords = breadbox and breadbox.keywords %}
{%- set has_filters = breadbox and breadbox.filters %}
{%- set show_reset = is_searching or has_keywords or has_filters %}

{%- if breadbox %}
  
  {%- if has_keywords %}
        {%- for scope in config.kerko_composer.get_ordered_specs('scopes') %}
            {{- facet(
                    scope.breadbox_label,
                    '',
                    breadbox.keywords[scope.key],
                    wrap_class='row',
                    heading_tag='div',
                    heading_class='col-md-4 col-xl-3 font-weight-bold break-word text-md-right text-print-left',
                    body_class='col-md-8 col-xl-9',
                    list_class_top='list-unstyled mb-0',
                    remove_title=_("Remove the '{}' search term")
                )
            }}
        {%- endfor %}
    {%- endif %}
    {%- if has_filters %}
        {%- for f in config.kerko_composer.get_ordered_specs('facets') %}
            {{ f.render(breadbox.filters[f.key], 'breadbox') }}
        {%- endfor %}
    {%- endif %}
{%- elif show_reset %}
    <div class="row">
        <div class="col">
            <div class="alert alert-warning">
                {{ _("None of your search criteria could be recognized.") }}
                <a class="btn btn-outline-secondary btn-sm ml-2" href="{{ url_for('kerko.search') }}">
                    {{ _("Reset search") }}
                </a>
            </div>
        </div>
    </div>
{%- endif %}

