<a href="{{ url_for('kerko.search') }}" class="navbar-brand">
    <img src="{{ url_for('static', filename='kerko/images/logo-ohada.png') }}" alt="Logo" width="50">
</a>
{#
<a href="{{ url_for('kerko.search') }}" class="navbar-brand text-white">
{{"Bibliothèque"}}
</a>
#}
