{% extends config.kerko.templates.base %}
{% from "kerko/_attributes.html.jinja2" import title_aria_label %}
{% from "kerko/_breadcrumb.html.jinja2" import breadcrumb %}

{%- block meta_title_inner -%}
    {%- if title %}{{ title|striptags|escape }} | {% endif %}{{ super() -}}
{%- endblock %}

{%- block metas %}
    {{- super() }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="generator" content="Kerko">
{%- endblock metas %}

{%- block styles %}
    {{- super() }}
    {%- block bootstrap_css %}
        {%- if bootstrap %}
            {{ bootstrap.load_css(version=config.kerko.assets.bootstrap_version) }}
        {%- endif %}
    {%- endblock bootstrap_css %}
    {%- block fontawesome_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/regular.css" integrity="sha384-hCIN6p9+1T+YkCd3wWjB5yufpReULIPQ21XA/ncf3oZ631q2HEhdC7JgKqbk//4+" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

    {%- endblock fontawesome_css %}
    {%- block kerko_css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='kerko/css/styles.css') }}">
    {%- endblock kerko_css %}
{%- endblock styles %}

{%- block body_inner %}
    {%- block header %}
        <header class="text-white fixed-top" style="z-index: 1030;" {% block header_attributes %}{% endblock %}>
            {%- block header_inner %}
                {%- block navbar %}
                    
<nav class="navbar navbar-expand-md sticky-top d-print-none" style="background-color: #37517e;">

                        <div class="container">
                            {%- block navbar_brand %}
                                {%- include "kerko/_navbar_brand.html.jinja2" %}
                            {%- endblock navbar_brand %}
                            {%- block navbar_toggler %}
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="{{ _('Toggle navigation') }}">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            {%- endblock navbar_toggler %}
                            {%- block navbar_content %}
                                <div id="navbar-content" class="collapse navbar-collapse">
                                    <ul class="navbar-nav ml-auto justify-content-end font-weight-bold">
                                        {%- block navbar_items %}
                               {%- include "kerko/_navbar_items.html.jinja2" %}
                                        {%- endblock navbar_items %}
                                    </ul>
                                </div>
                            {%- endblock navbar_content %}
                        </div>
                    </nav>
                {%- endblock navbar %}
            {%- endblock header_inner %}
        </header>
    {%- endblock header %}
<section class="hero-banner" style="background-image:url('{{url_for('static', filename='kerko/images/background.jpg')}}')">
  <div class="overlay"></div>
  <div class="hero-content">
    <h1 class="fw-bold typing-text">Bibliographie sélective OHADA</h1>
    <p>Explorez la bibliographie sélective OHADA de ressources Open Access en droit des affaires</p>
  </div>
</section>

    {%- block main %}
        <main {% block main_attributes %}class="container mt-5"{% endblock %}>

          {%- block main_inner %}
                <div {% block main_inner_attributes %}class="row"{% endblock %}>
 
                   {%- block content %}
			<div {% block content_attributes %}class="col-12 col-lg-8 order-lg-2 mx-auto"{% endblock %}>
			 
                        {%- block messages %}
           
                            {%- endblock messages %}
                            {%- block content_inner %}
                            {%- endblock content_inner %}

                            {%- block content_footer %}
                            {%- endblock content_footer %}

                     
                        </div>
                    {%- endblock content %}

			{%- block sidebar %}

                        {%- if self.sidebar_inner() %}

<div {% block sidebar_attributes %}class="col-12 col-lg-3 order-lg-1 bg-light rounded shadow-sm p-3"{% endblock %}>
 {%- with messages = get_flashed_messages(with_categories=true) %}
                                    {%- for category, message in messages %}
                                      <div class="alert alert-{{ category }}">
    <a class="close" {{ title_aria_label(_('Supprimer ce message')) }} href="#"
 data-dismiss="alert">&times;</a>
                                            {{ message }}
                                        </div>
                                    {%- endfor %}
                                {%- endwith %}

                                {%- block sidebar_inner %}
                                {%- endblock sidebar_inner %}
                            </div>
                        {%- endif %}
                    {%- endblock sidebar %}
                </div>
            {%- endblock main_inner %}
        </main>
    {%- endblock main %}

    {%- block footer %}
<footer {% block footer_attributes %} class="text-white pt-5 pb-3" style="background-color: #37517fe6;" {% endblock %}>
  {%- block footer_inner %}
  <div class="container">
    <div class="row">

      <!-- Section : À propos / Mentions -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">À propos</h5>
        <p>
          {{ _('&copy; 2020-2025 Bibliographie sélective de {ersuma}. Tous droits réservés').format(
            ersuma='<a href="https://www.ohada.org/" target="_blank" class="text-warning fw-bold text-decoration-none">ERSUMA-OHADA</a>') }}
        </p>
      </div>

      <!-- Section : Liens utiles -->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Liens Utiles</h5>
        <ul class="list-unstyled">
          <li><a href="https://www.ohada.org/" target="_blank" class="text-white text-decoration-none">OHADA</a></li>
          <li><a href="https://sigweb.ersuma.org/" target="_blank" class="text-white text-decoration-none">SIGWEB</a></li>
          <li><a href="https://biblio.ohada.org/" target="_blank" class="text-white text-decoration-none">Bibliothèque Numérique</a></li>
        </ul>
      </div>

      <!-- Section Contact rapide-->
      <div class="col-md-4 mb-4">
        <h5 class="text-uppercase mb-3">Contact</h5>
        <p class="mb-1"><i class="bi bi-envelope-fill me-2"></i> ersuma@ohada.org</p>
        <p><i class="bi bi-geo-alt-fill me-2"></i> Cotonou, Bénin</p>
      </div>

    </div>

    <hr class="border-light">

    <div class="text-center small">
      Développée par l’équipe technique de l’ERSUMA &middot; <a href="/politique" class="text-white text-decoration-underline">Politique de confidentialité</a>
    </div>
  </div>
  {%- endblock footer_inner %}
</footer>

{%- endblock footer %}
{%- endblock body_inner %}

{%- block body_scripts %}
    {{- super() }}
    {%- block bootstrap_js %}
        {%- if bootstrap %}
            {{ bootstrap.load_js(
                version=config.kerko.assets.bootstrap_version,
                jquery_version=config.kerko.assets.jquery_version,
                popper_version=config.kerko.assets.popper_version,
                with_jquery=config.kerko.assets.with_jquery,
                with_popper=config.kerko.assets.with_popper) }}
        {%- endif %}
    {%- endblock bootstrap_js %}
{%- endblock body_scripts %}
